#Accordion:active,
#translate:active,
#dropdown:active,
#search:active,
#youtube:active {
  background-color: #f2f2f2;
}
body {
  background-color: #20202058;
}
.DropDownTxt {
  text-align: center;
  padding: 5rem;
}
